/**
 * Wrapper
 */

.calendar-wrapper {
  position: relative;
  margin: 80px 0 80px 0;
}

/**
 * Time indicator
 */

.calendar-timeIndicator {
  display: inline-block;
  margin: -15px 10px 0 0;
  width: 120px;
  text-align: right;
}

.calendar-timeUnit {
  position: relative;
  justify-content: flex-end;
  line-height: 30px;
  cursor: default;
}

.calendar-timeUnit_large {
  line-height: 28px;
}

.calendar-timeUnit > span:last-child {
  margin-left: 6px;
  font-size: 12px;
  line-height: 30px
}

/**
 * Canvas
 */

.calendar-canvas {
  display: inline-block;
  position: absolute;
  width: 600px;
  height: 720px;
  border-left-width: 1px;
  border-left-style: solid;
  padding: 0 10px 0 10px;
}

.event {
  position: absolute;
}

.event > div:last-child {
  border-width: 1px 1px 1px 0;
  border-style: solid;
  height: 100%;
  cursor: default;
}

.event > div > p {
  display: inline-block;
  position: relative;
  margin-left: 12px;
  font-size: 12px;
  line-height: 24px;
}

.event > div > p:first-child {
  top: 6px;
  font-size: 14px;
}

.event > div > p:first-child {
  font-size: 17px;
  line-height: 24px;
}

.event > div > p:first-child:hover {
  cursor: pointer;
  text-decoration: underline;
}

.event-indicator {
  position: absolute;
  height: 100%;
  width: 6px;
}

.event-row {
  height: 0;
}