/**
 * Header
 *
 * We're directly selecting header here. In this
 * case it's safe because we are sure there will
 * be only a single variation of the header. If 
 * variations occured, they can be replaced with
 * header[state='someState'] for modern browsers.
 */

header {
  margin: 0 10px 0 10px;
  border-width: 0 1px 1px 1px;
  border-style: solid;
  border-radius: 0 0 3px 3px;
  height: 39px;
}

/**
 * Logo
 */

.facebook-logo {
  position: absolute;
  left: 10px;
  margin: 6px 0 0 10px;
  height: 30px;
  width: 160px;
  cursor: pointer;
  fill: white;
}
